.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 4rem;
  background-color: var(--tertiary-color);
  border-radius: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  width: fit-content;
}
