.wrapper {
  height: 100vh;
  position: relative;
}

.doubleHeight {
  height: 200vh;
}

.primaryWrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.extraSections {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.contentWrapper {
  color: var(--primary-color);
  position: absolute;
  top: 15vh;
  left: 30vw;
}

.title {
  font-family: var(--font-accent);
  color: var(--accent-color-1);
  font-size: 3rem;
  line-height: 1rem;
  background: rgba(255, 255, 255, 0.75);
}

.description {
  font-size: 3rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.75);
}

.otherSection {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.otherSection h3 {
  font-family: var(--font-accent);
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--accent-color-2);
}

.otherSection p {
  color: var(--primary-color);
}
.leftSection {
  text-align: right;
  transform: translateX(calc(-50% - 30vw));
  top: 30vh;
}

.rightSection {
  margin-left: auto;
  transform: translateX(calc(-50% + 30vw));
  bottom: 30vh;
}

@media screen and (max-width: 1100px) {
  .primaryWrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 2rem 2rem;
    justify-content: space-between;
    background-size: 140%;
  }

  .contentWrapper {
    position: static;
    display: flex;
    flex-direction: column;
  }

  .extraSections {
    justify-content: flex-start;
    gap: 0.5rem;
    height: 100%;
  }

  .otherSection {
    transform: none;
    position: static;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 1rem;
  }

  .otherSection h3 {
    font-size: 1.5rem;
  }

  .otherSection p {
    font-size: 0.825rem;
  }
  .title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .description {
    font-size: 2rem;
    line-height: 2rem;
  }
}
