.wrapper {
  position: relative;
  overflow-x: clip;
}

.scrollContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}

.ghost {
  width: 100vw;
}

.navigationActions {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.navigationActions button {
  background: none;
  border: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 50%;
  color: var(--tertiary-color);
  cursor: pointer;
  margin: 4rem;
}

.navigationActions img {
  fill: red;
}

.itemsContainer {
  position: relative;
  height: 70vh;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 160px;
}

.items {
  position: relative;
  display: flex;
}

.items:not(:last-child) {
  margin-right: 45px;
}

.item {
  height: 60vh;
  width: calc(40vw + 8rem);
  padding-left: 8rem;
}

.itemContent {
  border-radius: 4rem;
  height: 100%;
  position: relative;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  gap: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

.subHeading {
  font-family: var(--font-accent);
  line-height: 1rem;
  font-size: 3rem;
  color: var(--accent-color-1);
  text-align: center;
}

.textContent {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 4rem;
  padding-top: 4rem;
  color: white;
  gap: 2rem;
}

.itemTitle {
  font-size: 3rem;
  font-weight: 400;
}

.itemSubHeading {
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font-accent);
}

.itemDescription {
  font-size: 1.5rem;
  font-weight: 300;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

.imageContainer img {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: auto;
  object-fit: contain;
  max-width: 40%;
}

.hr {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .textContent {
    position: relative;
    text-align: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    z-index: 2;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
  }

  .subHeading {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .item {
    width: calc(90vw + 1rem);
    padding-left: 1rem;
    height: 70vh;
  }

  .itemsContainer {
    height: 80vh;
    padding: 0px 2rem;
  }

  .itemTitle {
    font-size: 2rem;
  }

  .itemSubHeading {
    font-size: 1.5rem;
  }

  .itemDescription {
    font-size: 1rem;
    font-weight: 300;
  }

  .imageContainer img {
    max-height: 25%;
    right: 50%;
    transform: translateX(50%);
  }

  .titleSection {
    height: 20vh;
  }
  .navigationActions button {
    width: 4rem;
    height: 4rem;
    margin: 0rem;
  }
}
