.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--primary-color);
}

.subHeading {
  font-family: var(--font-accent);
  line-height: 1rem;
  font-size: 2.5rem;
  color: var(--tertiary-color);
}

.personWrapper {
  display: flex;
  gap: 4rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.reverseLayout {
  flex-direction: row-reverse;
}

.reverseLayout .textContent {
  text-align: right;
}

.image {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  border-radius: 2rem;
  overflow: hidden;
}

.image img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

.textContent {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--primary-color);
}

.tag {
  font-size: 2rem;
  font-family: var(--font-accent);
  line-height: 1rem;
  color: var(--accent-color-1);
}

.name {
  font-size: 3rem;
}

.credentials {
  font-size: 2rem;
}

.description {
  padding-top: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .titleSection {
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .subHeading {
    font-size: 2rem;
  }
  .personWrapper {
    flex-direction: column;
  }
  .name {
    font-size: 2rem;
  }

  .credentials {
    font-size: 1.5rem;
  }
}
