.blue {
  --background-color: var(--primary-color);
  --title-color: white;
  --subheading-color: var(--secondary-color);
  --description-color: white;
  --button-color: var(--tertiary-color);
}

.yellow {
  --background-color: var(--secondary-color);
  --title-color: var(--primary-color);
  --subheading-color: var(--primary-color);
  --description-color: var(--primary-color);
  --button-color: var(--tertiary-color);
}

.pink {
  --background-color: var(--tertiary-color);
  --title-color: var(--primary-color);
  --subheading-color: var(--primary-color);
  --description-color: var(--primary-color);
  --button-color: var(--primary-color);
}

.startingSpacer {
  height: 30vh;
}

.wrapper {
  position: relative;
  background: linear-gradient(
    0deg,
    var(--background-color) 0%,
    var(--background-color) 80%,
    transparent 80%,
    transparent 100%
  );
  height: 100vh;
  overflow: none;
  overflow-x: clip;
}

.rolling {
  top: -20vh;
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.rollingBg {
  top: -25vh;
  filter: brightness(80%);
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.textContainer {
  flex-basis: 50%;
  padding: 4rem;
}

.imageContainer {
  flex-basis: 50%;
  padding: 6rem;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--font-accent);
  color: var(--title-color);
  font-size: 2rem;
  line-height: 3rem;
}

.subHeading {
  color: var(--subheading-color);
  font-size: 2rem;
  line-height: 2rem;
}

.description {
  color: var(--description-color);
  font-size: 1.2rem;
}

.button {
  background-color: var(--button-color);
  color: white;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    height: 100%;
  }

  .content {
    flex-direction: column-reverse;
    gap: 1rem;
    padding-top: 20vh;
  }

  .title {
    font-size: 2rem;
    line-height: 1.75rem;
  }

  .subHeading {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .textContainer {
    text-align: center;
    align-items: center;
    padding: 2rem;
  }
  .imageContainer {
    padding: 1rem;
  }
}
