.wrapper {
  height: 600vh;
  width: 100%;
  position: relative;
  transition: all 1s ease-in-out;
  background: var(--primary-color);
}

.content {
  position: sticky;
  display: flex;
  height: 100vh;
  top: 0;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.heading {
  font-size: 2rem;
  padding: 2rem;
  color: var(--secondary-color);
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide {
  height: 300px;
  flex-basis: 50%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  min-height: 110px;
  color: var(--tertiary-color);
}

.slideContent {
  padding: 5rem;
  height: 300px;
  flex-basis: 50%;
  right: 0;
  top: 0;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

@media screen and (max-width: 780px) {
  .heading {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .content {
    gap: 4rem;
  }

  .items {
    flex-direction: column;
  }

  .slide {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .slideContent {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}
